<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置MyBatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--设置驼峰命名法与下划线的匹配-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
     </settings>
    <!--    给项目起别名-->
    <typeAliases>
        <package name="com.wuliz.ssm.pojo"/>
    </typeAliases>


</configuration>